@model IEnumerable<WebApplication1.Models.MOVEHIST>

@{
    ViewBag.Title = "Audit Logs";
}

@*<h2>Audit Logs</h2>*@

<p>
    
    @Html.ActionLink("Back to User List", "Index", "Users")
</p>
<table  id="tblAudit" class="table table-bordered table-striped table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAC_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OLD_DATA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NEW_DATA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OLD_SAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NEW_SAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_ACTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_ACTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTION_BY)
            </th>


        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAC_ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OLD_DATA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NEW_DATA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OLD_SAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NEW_SAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.D_ACTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.T_ACTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACTION_BY)
                </td>


            </tr>

        }
    </tbody>

</table>

@*Table Design and Features Imports*@

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

@*Excel Export*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

@*PDF Export*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

@*Export Button Features*@

<script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>

@*Alerts*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script nonce="myScript">
    $(document).ready(function () {
        new DataTable('#tblAudit', {
            layout: {
                top: {
                    buttons: ['excel', 'pdf']
                }
            }
        });

    });
</script>
