@model IEnumerable<WebApplication1.Models.MOVEHIST>

@{
    ViewBag.Title = "Index";
}

<h2>Audit Logs</h2>

@if (Session["UserId"] != null)
{
    <h4 style="color:black">Welcome,@Session["Username"].ToString().ToUpper()!</h4>
}
else
{
    <p><a href="@Url.Action("Login", "Users")"></a></p>
}

<p>
    @Html.ActionLink("Back to List", "Index", "Users")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAC_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OLD_DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NEW_DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OLD_SAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NEW_SAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D_ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_ACTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTION_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAC_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OLD_DATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NEW_DATA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OLD_SAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NEW_SAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_ACTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_ACTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTION_BY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.MOVEHIST_ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.MOVEHIST_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MOVEHIST_ID })
                </td>*@
        </tr>
    }

</table>
