@model WebApplication1.Models.User

@{
    ViewBag.Title = "Delete";
}

<div class="form-horizontal d-flex p-5 flex-column">
    <div class="m-auto bg-warning text-center p-3 mb-2 rounded">
        <h4 class="m-0">Are you sure you want to DELETE</h4>
        <h4 class="m-0"> User: <i><u>@Html.DisplayFor(model => model.Username)</u></i> ?</h4>
    </div>

    <div class="d-flex flex-column m-auto">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Date Created
                @*@Html.DisplayNameFor(model => model.CreatedDate)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger px-4 mx-3" id="btDelete" />
                @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-outline-primary mx-3 px-4" })
            </div>
        }
    </div>
</div>


<script>var btDelete = document.getElementById("btDelete");

    btDelete.addEventListener('click', function (e) {
        e.preventDefault();
        var form = $(this).parents('form');
        Swal.fire({
            title: 'Delete this User?',
            text: 'This account will be permanently deleted!',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete User'
        }).then((result) => {
            if (result.value) {
                form.submit();
            }
        });
    });

    </script>