@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Account List";
}

@if (Session["UserId"] != null)
{
    <h4 style="color:black">Welcome,@Session["Username"].ToString().ToUpper()!</h4>
}
else
{
    <p><a href="@Url.Action("Login", "Users")"></a></p>
}

<h1 id="reactdiv"></h1>

<div class="form-horizontal p-5">
    <h2 class="text-center">User Masterlist</h2>
    <hr />
    <div class="d-flex gap-2">
        <p>
            @Html.ActionLink("Create New User", "Create", new { area = "" }, new { @class = "btn btn-primary" })
        </p>
        <p>
            @Html.ActionLink("Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })
        </p>
        <p>
            @Html.ActionLink("Audit Logs", "History", "MOVEHISTs", new { area = "" }, new { @class = "btn btn-success" })
        </p>
    </div>
    <table id="tblUsers" class="table table-bordered table-striped table-light">
        <thead>
            <tr>
                <th>@Html.DisplayName("ID")</th>
                <th>@Html.DisplayName("Username")</th>
                <th>@Html.DisplayName("Password")</th>
                <th>@Html.DisplayName("Email")</th>
                <th>@Html.DisplayName("Date Created")</th>
                <th>@Html.DisplayName("IsActive")</th>
                <th>@Html.DisplayName("Password Reset Code")</th>
                <th>@Html.DisplayName("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td>@Html.DisplayFor(modelItem => item.ResetPasswordCode)</td>
                    <td>
                        <i></i>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Table Design and Features Imports*@

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

@*Excel Export*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

@*PDF Export*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

@*Export Button Features*@

<script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>

@*Alerts*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script nonce="myScript">
    $(document).ready(function () {
        new DataTable('#tblUsers', {
            layout: {
                top: {
                    buttons: ['excel', 'pdf']
                }
            }
        });

    });
</script>