@model WebApplication1.Models.MyLogin


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LogIn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin:5px">
                <input type="submit" value="Login" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
}

<div>
    <h7>Don't Have An Account Yet?</h7>
    @Html.ActionLink("Register", "Create")
</div>
<div>
    @Html.ActionLink("Forgot Password?", "ForgotPassword", "Users")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
