@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Reports";
}

<div class="form-horizontal d-flex flex-column p-5">
    <h2 class="text-center">Reports</h2>

    <hr />
    <table id="tblUsers" class="table table-bordered table-striped table-light small">
        <thead>
            <tr>
                <th>@Html.DisplayName("ID")</th>
                <th>@Html.DisplayName("USERNAME")</th>
                <th>@Html.DisplayName("EMAIL")</th>
                <th>@Html.DisplayName("DATE_CREATED")</th>
                <th>@Html.DisplayName("ISACTIVE")</th>
                <th>@Html.DisplayName("Department")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td>@Html.DisplayFor(modelItem => item.DEPT.DEPT1)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>@Html.DisplayName("ID")</th>
                <th>@Html.DisplayName("USERNAME")</th>
                <th>@Html.DisplayName("EMAIL")</th>
                <th>@Html.DisplayName("DATE_CREATED")</th>
                <th>@Html.DisplayName("ISACTIVE")</th>
                <th>@Html.DisplayName("Department")</th>
            </tr>
        </tfoot>
    </table>

    <p class="mx-auto">
        @Html.ActionLink("Audit Log", "AuditLog", "MOVEHISTs", new { area = "" }, new { @class = "btn btn-outline-primary" })
    </p>
</div>

@*Table Design and Features Imports*@

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>

@*Excel Export*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

@*PDF Export*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

@*Export Button Features*@

<script src="https://cdn.datatables.net/buttons/3.2.0/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.0/js/buttons.html5.min.js"></script>

@*Search Panes*@
<script src="https://cdn.datatables.net/searchpanes/2.3.3/js/dataTables.searchPanes.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.3.3/js/searchPanes.dataTables.js"></script>

@*Selecting Data Tables*@
<script src="https://cdn.datatables.net/select/2.1.0/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/select/2.1.0/js/select.dataTables.js"></script>

<!-- Alerts -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script nonce="myScript">
    var tbId = document.getElementById('tbId');
    var tbMac = document.getElementById('tbMac');
    var tbType = document.getElementById('tbType');
    var tbOld = document.getElementById('tbOld');
    var tbNew = document.getElementById('tbNew');
    var tbDate = document.getElementById('tbDate');
    var tbTime = document.getElementById('tbTime');
    var tbBy = document.getElementById('tbBy');
    var tbUid = document.getElementById('tbUid');

    $(document).ready(function () {
        new DataTable('#tblAudit', {
            layout: {
                top: 'pageLength',
                topStart: {
                    buttons: [

                        { extend: 'excel', className: 'btn btn-outline-success btn-sm px-3 py-2' },
                        { extend: 'pdf', orientation: 'landscape', className: 'btn btn-outline-danger btn-sm px-3 py-2 mx-1' }

                    ],
                },
            },

            initComplete: function () {
                //Action ID Filter
                this.api()
                    .columns([0])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--Audit ID--</option></select>')
                            .appendTo($('#tbId').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });

                //MAC Address Filter
                this.api()
                    .columns([1])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--MAC Address--</option></select>')
                            .appendTo($('#tbMac').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });

                //Action Type Filter
                this.api()
                    .columns([2])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--Action Type--</option></select>')
                            .appendTo($('#tbType').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });

                //Date Action Filter
                this.api()
                    .columns([7])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--Date Action--</option></select>')
                            .appendTo($('#tbDate').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });

                //Input Type Sorting
                //this.api()
                //    .columns([7])
                //    .every(function () {
                //        var column = this;
                //        var date = column.header().textContent;

                //        // Create input element
                //        var input = document.createElement('input');
                //        input.placeholder = date;
                //        input.className = "text-justify";
                //        tbDate.replaceChildren(input);

                //        // Event listener for user input
                //        input.addEventListener('keyup', () => {
                //            if (column.search() !== this.value) {
                //                column.search(input.value).draw();
                //            }
                //        });
                //    });

                //Time Action Filter
                this.api()
                    .columns([8])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--Time Action--</option></select>')
                            .appendTo($('#tbTime').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });

                //Action By Filter
                this.api()
                    .columns([10])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--Action By--</option></select>')
                            .appendTo($('#tbBy').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });

                //UID Filter
                this.api()
                    .columns([11])
                    .every(function () {
                        var column = this;
                        var type = column.header().textContent;

                        var select = $('<select class="form-control form-control-sm"><option value="">--User ID--</option></select>')
                            .appendTo($('#tbUid').empty())
                            .on('change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            var val = $('<div/>').html(d).text();
                            select.append('<option value="' + val + '">' + val + '</option>');
                        });
                    });
            }
        });

    });</script>