@model WebApplication1.Models.ResetPassword

@{
    Layout = "~/Views/Shared/_LayoutNone.cshtml";
    ViewBag.Title = "Template Reset";
}

<div class="d-flex flex-column loginContainer">

    <div class="loginBox">
        <div class="p-5 d-flex justify-content-center m-auto">

            <div class="loader hidden"></div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    <img src="~/Resources/dvproLogo.png" alt="DVPRO Icon" />
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.HiddenFor(a => a.ResetCode)
                    </div>

                    <h4 class="text-center mt-5">Reset Password</h4>

                    <label for="PasswordHash">Password</label>
                    <div class="col-md-12 mb-2">
                        @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger small" })
                    </div>

                    <div class="col-md-12 mb-2">
                        <label for="ConfirmPassword">Confirm Password</label>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger small" })
                    </div>
                    <div class="col-md-12 mb-2">
                        <input type="submit" onclick="showLoading()" value="Submit" class="btn mt-4 px-4 col-md-12" id="btSubmit" />
                    </div>

                </div>

                <div class="d-flex col-md-12 mx-auto text-center flex-column mt-4">
                    @Html.ActionLink("Back To Log In", "TemplateLogin", "Users", new { are = "" }, new { @class = "text-primary redirect" })
                </div>
            }
        </div>
    </div>

    <div class="mt-5 mx-auto">
        <p>© @DateTime.Now.Year - Powered by DVPRO Solutions, Inc.</p>
    </div>

</div>

<script>
    function showLoading() {
        event.preventDefault();
        $(".loader").removeClass("hidden");
        setTimeout(function () {
            $("form").submit();
        }, 1);
        return true;
    }
</script>