@model WebApplication1.Models.DEPT

@{
    ViewBag.Title = "Create";
}

@*<h2 style="text-align:center; ">Creating Department</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="loader" class="loader"></div>

    <div class="form-horizontal d-flex p-4">
        <div class="col-7 d-none d-xl-none d-lg-block p-4">
            <img src="~/Resources/imgHandshake.jpg" alt="Image" class="img-fluid rounded-3 h-100 ">
        </div>
        <div class="col-7 d-none d-xl-block p-4">
            <img src="~/Resources/imgHandshake.jpg" alt="Image" class="img-fluid rounded-3">
        </div>
        <div class="m-auto d-sm-block">
            <h2 style="text-align:center">Create Department</h2>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.DEPT1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12 mb-2">
                    @Html.EditorFor(model => model.DEPT1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DEPT1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.DEPT_DESC, htmlAttributes: new { @class = "control-label col-md-2" })*@

                <label for="DEPT_DESC">Department Description</label>
                <div class="col-md-12 mb-2">
                    @Html.EditorFor(model => model.DEPT_DESC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DEPT_DESC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="DEPT_BLDG">Department Building</label>
                <div class="col-md-12 mb-2">
                    @Html.EditorFor(model => model.DEPT_BLDG, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DEPT_BLDG, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.DEPT_FLOOR, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label for="DEPT_FLOOR">Department Floor</label>
                <div class="col-md-12 mb-2">
                    @Html.EditorFor(model => model.DEPT_FLOOR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DEPT_FLOOR, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group d-flex flex-column text-center">
                <div class="col-md-12 justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-success my-2 px-4" />
                </div>
                <div class="col-md-12 justify-content-center">
                    @Html.ActionLink("Back to List", "Index", "DEPTs", new { area = "" }, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        loader.style.display = "none";
    });
</script>








@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@*<p class="mx-auto">
        @Html.ActionLink("Audit Log", "AuditLog", "MOVEHISTs", new { area = "" }, new { @class = "btn btn-outline-primary" })
        @Html.ActionLink("Deparment", "Index", "DEPTs", new { area = "" }, new { @class = "btn btn-outline-danger" })
    </p>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




