@model WebApplication1.Models.DEPT

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

<div class="form-horizontal d-flex p-5 flex-column">
    <div class="m-auto bg-warning text-center p-3 mb-2 rounded">
        <h4 class="m-0">Are you sure you want to DELETE</h4>
        <h4 class="m-0"> Department: <i><u>@Html.DisplayFor(model => model.DEPT1)</u></i> ?</h4>
    </div>
    <div class="d-flex flex-column m-auto">
        <dl class="dl-horizontal ">
            <dt>
                @Html.DisplayNameFor(model => model.DEPT1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPT1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEPT_DESC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPT_DESC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEPT_BLDG)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPT_BLDG)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEPT_FLOOR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPT_FLOOR)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger px-4 mx-3" /> |
                @Html.ActionLink("Back to List", "Index", "DEPTs", new { area = "" }, new { @class = "btn btn-outline-primary mx-3 px-4" })
            </div>
        }
    </div>
</div>


